{% extends "base.html" %}
{% block body %}
	<div class="feature">Go on an adventure with <a class="youber" href="https://www.uber.com">Uber</a> for under</div>
	<form method="POST" id="form">
        {{ form.csrf_token }}

        <div class="budget">${{ form.amount(type="number", pattern="\d*") }}</div><br>
        {% if form.amount.errors %}
            {% for error in form.amount.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endif %}

        {{ form.latitude() }}<br>
        {{ form.longitude() }}<br>

        {{ form.submit() }}
    </form>

    <button class="super_submit" onclick="getLocation()">Whisk me away</button>

    <p id="unsupported"></p>

	<script>
	var us = document.getElementById("unsupported");
	var lat = document.getElementById("latitude");
	var lon = document.getElementById("longitude");
	var submit = document.getElementById("submit");

	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(showPositionAndSubmit);
	    } else { 
	        us.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}

	function showPositionAndSubmit(position) {
	    lat.value = position.coords.latitude;
	    lon.value = position.coords.longitude;
	    submit.click();
	}
	</script>
{% endblock %}